openpyxl
numpy
pandas
seaborn
streamlit
underthesea
wordcloud
import_ipynb
openai
youtube_search
webdriver_manager
selenium
playsound
gtts

pyaudio
speechrecognition
--index-url=https://pypi.org/simple/
--server.audio=portaudio
--server.enableCORS=false
--server.enableXsrfProtection=false